<h1>Hi {{vm.user.firstName}}!</h1>
<p>You're logged in!!</p>
<h3>Create Note</h3>
<div class="col-md-6 col-md-offset-3">
    <form name="form" ng-submit="vm.login()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.subject.$dirty && form.subject.$error.required }">
            <input type="text" name="subject" id="subject" class="form-control" placeholder="Subject" ng-model="vm.subject" required />
            <span ng-show="form.subject.$dirty && form.subject.$error.required" class="help-block">Subject is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.body.$dirty && form.body.$error.required }">
            <textarea ng-model="body" name="body" id="body" class="form-control" placeholder="Body" required></textarea>
            <span ng-show="form.body.$dirty && form.body.$error.required" class="help-block">Body is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Create</button>
        </div>
    </form>
</div>
<p>&nbsp;</p>
<p><a href="#/" class="btn btn-primary">Logout</a></p>